#(project
  (#(meta (
     #(name lfeyawsmini)
     #(description "A Minimal Sample LFE+YAWS Web Application*")
     #(version "0.1.0")
     #(keywords ("LFE" "Lisp" "Web" "App" "Demo" "YAWS"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/lfeyawsmini")))))))
