{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {branch, "develop"}}},
   {yaws, ".*", {git, "git://github.com/oubiwann/yaws.git", {branch, "rebar3-support"}}},
   {lfest, ".*", {git, "git://github.com/lfex/lfest.git", {tag, "0.3.0"}}},
   {exemplar, ".*", {git, "git://github.com/lfex/exemplar.git", {tag, "0.4.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.4.0"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
